/*WEB Page*/
body {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 90%;
    font-family: Arial;
}

.pad-top-20 {
    padding-top: 20px;
}

.center-element {
    margin: auto;
}

/*Override PrimeFaces CSS*/
.ui-layout-pane {
    border: 0;
}

/*Change PrimeFaces Font Size*/
.ui-widget, .ui-widget .ui-widget {
    font-size: 90%;
    font-family: Arial;
}

/*Overflow PrimeFaces Menu Bar*/
.ui-layout-north {
    z-index:20 !important;
    overflow:visible !important;
}

.ui-layout-north .ui-layout-unit-content {
    overflow:visible !important;
}

.ui-icon.fa {
     text-indent:0px;
     background-image:none;
}

ul.ui-menu-child {
    white-space: nowrap;
    width: 225px !important;
}
        
/*Hide Filters*/
.hide {
    display:none;
    visibility:hidden;
}

.ui-selectonemenu-panel.hideDisabled .ui-selectonemenu-item.ui-state-disabled{
    display: none;
}

.font-s{
    font-size: small;
}

.font-m{
    font-size: medium;
}